@import "antd/dist/antd.css";

.siteDrawer {
  height: 420px;
  overflow: hidden;
  position: relative;
}

.site-drawer-render-in-current-wrapper {
  position: relative;

  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
